/* ============= 메인 (본인 페이지 작업) ============= */

#main_banner {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    text-align: left;
}

#program_wrap {
    width: 100%;
    height: 4100px;
    background-color: white;
}

.program_in {
    width: 1200px;
    height: 1000px;
    padding-top: 80px;
    margin: 0 auto;
}

.program_in>hr {
    border: 1px solid #ccc;
    margin-bottom: 50px;
}

.program_in_1 {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
}

.program_in_text {
    width: 40%;
}

.program_in_text>h5 {
    color: #4b4b4b;
    margin-bottom: 20px;
}

.program_in_text>h1 {
    color: black;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 20px;
    font-weight: bold;
}

.program_in_text>p {
    color: black;
    font-size: 16px;
    line-height: 20px;
}

.program_in_img {
    width: 60%;
    margin-top: 40px;
    text-align: right;
}

.program_in_img>img {
    width: 49%;
    border-radius: 20px;
}

.program_in_2 {
    width: 100%;
    line-height: 40px;
    margin-bottom: 60px;
}

.program_in_2>h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 7px;
}

.program_in_2>hr {
    border: 1px solid black;
    margin-bottom: 20px;
}

.program_in_2>h2 {
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-right: 50px;
}

.program_in_2>p {
    font-size: 15px;
    color: black;
}

.program_in_3 {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 80px;
    border-radius: 25px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.program_in_3>h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.program_table {
    width: 85%;
    color: white;
    text-align: center;
    line-height: 20px;
    border-collapse: collapse;
}

.program_table th,td {
    padding: 20px;
    border: 1px solid white;
}

.program_table th {
    padding: 10px;
    text-align: center;
}

.program_in_4 {
    width: 30%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.back_program {
    width: 45%;
    border: 1px solid black;
    border-radius: 20px;
}

.back_program>a {
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
}

.res_program {
    width: 45%;
    border: 1px solid black;
    border-radius: 20px;
}

.res_program>a {
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.back_program>a:hover {
    background-color: #c5e3f6;
    color: black;
}

.res_program>a:hover {
    background-color: #c5e3f6;
    color: black;
}

/* 모바일 */
@media screen and (max-width:600px) {
    main {
            background-position: 50%;
    }

    #main_banner {
            width: 100%;
            text-align: center;
    }

    #main_banner>p {
            font-size: 20px;
    }

    #program_wrap {
            height: 5000px;
    }

    .program_in {
            width: 506px;
    }

    .program_in_1 {
            flex-wrap: wrap;
    }

    .program_in_text {
            width: 100%;
    }

    .program_in_img {
            width: 100%;
    }

    .program_in_2>p {
            font-size: 14px;
    }

    .program_in_3 {
            flex-wrap: wrap;
    }

    .program_in_3 table {
            width: 100%;
            margin-top: 20px;
    }

    .program_in_4 {
            width: 100%;
    }
}